/PSOARuleML-API/target/classes/
/PSOARuleML-API/target/generated-sources/
/PSOARuleML-API/target/maven-archiver/
/PSOARuleML-API/target/surefire/
/PSOARuleML-API/target/test-classes/
/PSOARuleML-API-WebService/target/
